<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.InterviewInfoMapper">

    <!-- 分页获取所属面试管理信息 -->
    <select id="selectInterviewPage" resultType="java.util.LinkedHashMap">
        select
        ini.id,
        ini.expert_id,
        ini.base_id,
        ini.`type`,
        ini.create_date,
        ini.enterprise_id,
        ini.del_flag,
        ini.status,
        ei2.name as enterpriseName,
        ei2.images as enterpriseImages,
        ei2.abbreviation,
        ei2.nature,
        ed.logo,
        ei.name as expertName,
        ei.images as expertImages,
        post_info.post_name,
        post_info.address,
        post_info.experience,
        post_info.responsibility,
        post_info.academic,
        post_info.work_time,
        post_info.work_hour,
        post_info.work_address,
        post_info.work_require,
        post_info.salary,
        post_info.welfare
        from
        interview_info ini
        left join expert_info ei on
        (ei.id = ini.expert_id)
        left join enterprise_info ei2 on
        (ei2.id = ini.enterprise_id)
        left join enterprise_detail ed on
        (ed.enterprise_id = ei2.id)
        left join post_info on (post_info.id = ini.base_id)
        where
        1 = 1
        <if test="interviewInfo.enterpriseName != null and interviewInfo.enterpriseName != ''">
            AND ei2.name LIKE CONCAT('%',#{interviewInfo.enterpriseName},'%')
        </if>
        <if test="interviewInfo.abbreviation != null and interviewInfo.abbreviation != ''">
            AND ei2.abbreviation LIKE CONCAT('%',#{interviewInfo.abbreviation},'%')
        </if>
        <if test="interviewInfo.expertName != null and interviewInfo.expertName != ''">
            AND ei.name LIKE CONCAT('%',#{interviewInfo.expertName},'%')
        </if>
        <if test="interviewInfo.expertId != null and interviewInfo.expertId != ''">
            AND ei.user_id = #{interviewInfo.expertId}
        </if>
        <if test="interviewInfo.enterpriseId != null and interviewInfo.enterpriseId != ''">
            AND ei2.user_id = #{interviewInfo.enterpriseId}
        </if>
        order by
        ini.create_date desc
    </select>

    <!-- 根据面试ID获取岗位面试信息 -->
    <select id="selectInterViewPostByIds" resultType="java.util.LinkedHashMap">
        select
        ini.id,
        ini.expert_id,
        ini.base_id,
        ini.`type`,
        ini.create_date,
        ini.enterprise_id,
        ini.del_flag,
        ini.status,
        pi.post_name,
        pi.academic,
        pi.work_time,
        pi.work_hour,
        pi.work_address,
        pi.salary,
        exi.name as expertName,
        exi.images as expertImages,
        eni.name as enterName,
        eni.images as enterImages
        from
        interview_info ini
        left join post_info pi on
        (pli.id = ini.base_id)
        left join expert_info exi on
        (exi.id = ini.expert_id)
        left join enterprise_info eni on
        (eni.id = ini.enterprise_id)
        where 1 = 1
        AND ini.id IN
        <foreach item="ids" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by
        ini.create_date desc
    </select>

    <select id="selectOrderByMonth" resultType="cc.mrbird.febs.cos.entity.ReserveInfo">
        select
        vi.*
        from
        reserve_info vi
        left join venue_info vi1 on (vi1.id = vi.venue_id)
        left join enterprise_info ei on (ei.id = vi1.enterprise_id)
        where 1 = 1
        <if test="staffId != null">
            AND ei.id = #{staffId}
        </if>
        and DATE_FORMAT( vi.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
    </select>

    <select id="selectOrderByYear" resultType="cc.mrbird.febs.cos.entity.ReserveInfo">
        select
        vi.*
        from
        reserve_info vi
        left join venue_info vi1 on (vi1.id = vi.venue_id)
        left join enterprise_info ei on (ei.id = vi1.enterprise_id)
        where 1 = 1
        <if test="staffId != null">
            AND ei.id = #{staffId}
        </if>
        and DATE_FORMAT( vi.create_date, '%Y' ) = DATE_FORMAT(
        CURDATE(),
        '%Y')
    </select>

    <select id="selectInterviewByMonth" resultType="cc.mrbird.febs.cos.entity.InterviewInfo">
        select
        vi.*
        from
        interview_info vi
        where 1 = 1
        <if test="staffId != null">
            AND vi.enterprise_id = #{staffId}
        </if>
        and DATE_FORMAT( vi.create_date, '%Y%m' ) = DATE_FORMAT(
        CURDATE(),
        '%Y%m')
    </select>

    <select id="selectInterviewByYear" resultType="cc.mrbird.febs.cos.entity.InterviewInfo">
        select
        vi.*
        from
        interview_info vi
        where 1 = 1
        <if test="staffId != null">
            AND vi.enterprise_id = #{staffId}
        </if>
        and DATE_FORMAT( vi.create_date, '%Y' ) = DATE_FORMAT(
        CURDATE(),
        '%Y')
    </select>

    <!-- 十天内订单数量统计 -->
    <select id="selectOrderNumWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(COUNT(oi.id), 0) AS count
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN reserve_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' ))
        left join venue_info vi on (vi.id = oi.venue_id)
        left join enterprise_info ei on (ei.id = vi.enterprise_id
        <if test="staffId != null">
            AND ei.id = #{staffId}
        </if>
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>

    <!-- 十天内订单收益统计 -->
    <select id="selectOrderPriceWithinDays" resultType="java.util.LinkedHashMap">
        SELECT
        DATE_FORMAT( spo.days, '%m-%d' ) AS days,
        IFNULL(COUNT(oi.id), 0) AS count
        FROM
        (
        SELECT
        DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
        SELECT
        DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
        LEFT JOIN interview_info oi ON (
        DATE_FORMAT( oi.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
        <if test="staffId != null">
            AND oi.enterprise_id = #{staffId}
        </if>
        )
        GROUP BY
        days
        ORDER BY
        days ASC
    </select>
</mapper>
